	<div class="container" ng-controller="TweetCommentCtrl">
		<h1> Twitter Search App </h1>
		
			<div class="panel panel-default" ng-repeat = "string in stringlist">
			  <!-- Default panel contents -->
			  <div class="panel-heading">{{string.fromUserName}}</div>
			  <div class="panel-body">
			    <p>{{string.text}}</p>
			  </div>
			  <div class="row">
			  		<div class="col-xs-1"></div>
			  		<div class="col-xs-9"><input class="form-control" placeholder="Enter a comment..." ng-model="tweet.comment"></div>
					<div class="col-xs-2"><button class="btn btn-primary" ng-click="save()">Save</button></div>
			  </div>

			  <!-- List group -->
			  <ul class="list-group">
			    <li class="list-group-item" ng-repeat = "comment in string.comment">{{comment.text}}</li>
			  </ul>
			</div>
	</div>